/* Text Formatting Colors from https://minecraft.wiki/w/Formatting_codes#Color_codes */

.mc-black { color: #000000; }
.mc-dark-blue { color: #0000AA; }
.mc-dark-green { color: #00AA00; }
.mc-dark-aqua { color: #00AAAA; }
.mc-dark-red { color: #AA0000; }
.mc-dark-purple { color: #AA00AA; }
.mc-gold { color: #FFAA00; }
.mc-gray { color: #AAAAAA; }
.mc-dark-gray { color: #555555; }
.mc-blue { color: #5555FF; }
.mc-green { color: #55FF55; }
.mc-aqua { color: #55FFFF; }
.mc-red { color: #FF5555; }
.mc-light-purple { color: #FF55FF; }
.mc-yellow { color: #FFFF55; }
.mc-white { color: #FFFFFF; }
.mc-minecoin-gold { color: #DDD605; }
.mc-material-quartz { color: #E3D4D1; }
.mc-material-iron { color: #CECACA; }
.mc-material-netherite { color: #443A3B; }
.mc-material-redstone { color: #971607; }
.mc-material-copper { color: #B4684D; }
.mc-material-gold { color: #DEB12D; }
.mc-material-emerald { color: #47A036; }
.mc-material-diamond { color: #2CBAA8; }
.mc-material-lapis { color: #21497B; }
.mc-material-amethyst { color: #9A5CC6; }
